.section-agenda {
	width: 100%;
	height: 90vh;

	background: url('../../assets/images/backgrounds/varying-stripes.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;

	padding: 2% 5% 0;

	font-family: Roboto;
}

.section-agenda h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 7.6rem;
	line-height: 6.6rem;

	align-self: center;

	color: var(--color-logo);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.section-agenda .content-agenda {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;

	align-items: center;
	flex-direction: column;

	text-align: center;
}

.section-agenda .content-agenda ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	list-style: none;
}

.section-agenda .content-agenda ul li {
	margin: 0 0.5em;

	transition: all 0.3s;
}

.section-agenda .content-agenda ul li section {
	width: 225px;
	height: 325px;

	background: var(--color-secondary);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	padding: 10%;
}

.section-agenda .content-agenda ul li section h5 {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;

	color: var(--color-purpleDarken);
}

.section-agenda .content-agenda ul li section img {
	filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}

.section-agenda .content-agenda ul li section p {
	font-size: 1.6rem;
}

.section-agenda .arrow-content {
	color: var(--color-secondary);
}

/* MOBILE */

@media (max-width: 1024px) and (max-height: 1366px) {
	.section-agenda {
		height: 100%;
	}

	.section-agenda h3 {
		font-size: 4.6rem;
	}

	.section-agenda .content-agenda ul {
		flex-direction: column;

		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.section-agenda .content-agenda ul li {
		margin: 0.5em 0;
	}

	.section-agenda .content-agenda ul li:hover {
		transform: none;
	}

	.section-agenda
		.content-agenda
		ul
		li
		[data-aos][data-aos][data-aos-delay='500'].aos-animate,
	.section-agenda
		.content-agenda
		ul
		li
		[data-aos][data-aos][data-aos-delay='1000'].aos-animate,
	.section-agenda
		.content-agenda
		ul
		li
		[data-aos][data-aos][data-aos-delay='1500'].aos-animate,
	.section-agenda
		.content-agenda
		ul
		li
		[data-aos][data-aos][data-aos-delay='2000'].aos-animate,
	.section-agenda
		.content-agenda
		ul
		li
		[data-aos][data-aos][data-aos-delay='2500'].aos-animate {
		transition-delay: 0s;
	}
}

@media (max-width: 1280px) and (max-height: 800px) {
	.section-agenda {
		padding-top: 0;
	}

	.section-agenda h3 {
		font-size: 3.6rem;
		line-height: 5.6rem;
	}

	.section-agenda .content-agenda ul li section {
		width: 125px;
		height: 200px;
	}

	.section-agenda .content-agenda ul li section img {
		width: 75px;
		height: 75px;
	}

	.section-agenda .content-agenda ul li:hover {
		transform: none !important;

		margin: 0 0.5em !important;
	}

	.section-agenda .content-agenda ul li section p {
		font-size: 1.3rem;
	}

	.section-agenda .content-agenda ul li section h5 {
		font-size: 1.6rem;
	}
}

/* APARELHOS MENORES */

@media (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {
	.section-agenda h3 {
		font-size: 3.6rem;
	}
}

@media (min-width: 738px) {
	.section-agenda .content-agenda ul li:hover {
		transform: scale(1.05);

		margin: 0 1em;
	}
}
