.section-inscricao {
	width: 100%;
	height: 90vh;

	background: var(--color-grayDarken);

	display: flex;
	flex-direction: column;

	padding: 1% 5% 0;

	font-family: Roboto;

	background: url('../../assets/images/backgrounds/square-versatiles.svg');

	background-size: auto;
	background-repeat: repeat;
	background-position: center;
}

.section-inscricao h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 112px;

	align-self: center;

	color: var(--color-logo);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.section-inscricao .content-inscricao {
	width: 100%;
	height: 70%;

	display: flex;
	justify-content: space-between;

	align-items: center;
	flex-direction: row;
}

.section-inscricao .card-inscricao {
	width: 60%;

	background: var(--color-grayDark);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	padding: 3% 5%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-self: center;
}

.section-inscricao .card-inscricao h4 {
	font-weight: bold;
	font-size: 36px;

	margin-bottom: 3rem;

	color: var(--color-blue);
}

.section-inscricao .card-inscricao p {
	color: var(--color-secondary);

	font-size: 24px;
	line-height: 30px;
}

.section-inscricao .images {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	width: 50%;
	height: auto;
}

.section-inscricao .images p {
	width: 75%;

	color: var(--color-secondary);

	font-size: 24px;

	text-align: center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.section-inscricao .content-inscricao .images img {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.section-inscricao .card-inscricao form {
	margin-top: 3rem;

	width: 100%;
	position: relative;
}

.section-inscricao .card-inscricao form .input-email {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;

	margin-bottom: 20px;
}

.section-inscricao .card-inscricao form .input-email .email-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 10%;

	background: var(--color-gray);

	border: 1px solid var(--color-gray);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.section-inscricao .card-inscricao form .input-email label {
	width: 100%;

	border-left: 1px solid var(--color-grayDark);
}

.section-inscricao .card-inscricao form input {
	background: #53585d;
	color: #f5f5f5;
	display: block;
	width: 100%;
	height: 57px;
	font-size: 18px;

	outline: 0;
	border: 1px solid #53585d;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	padding: 16px;

	resize: none;

	transition: all 0.3s;
}

.section-inscricao .card-inscricao form input:focus {
	background: #4d5257;
	border: 1px solid #4d5257;
}

.section-inscricao .card-inscricao form button {
	width: 100%;

	padding: 16px;

	border: 1px solid var(--color-highlight-green);
	border-radius: 5px;
	outline: none;

	background: var(--color-highlight-green);

	font-size: 20px;
	font-weight: 500;
	color: var(--color-secondary);
	text-transform: uppercase;

	display: inline-block;

	cursor: pointer;
	text-decoration: none;
	text-align: center;

	transition: background-color 0.3s;
}

.section-inscricao .card-inscricao form button:hover {
	background: var(--color-highlight-greenDarken);

	border: 1px solid var(--color-highlight-greenDarken);
}
