.section-inicio {
	width: 100%;
	height: 100vh;

	background: #000;
	color: white;
	font-family: Roboto;
}

.section-inicio .bloom {
	width: 100%;
	height: 90%;
	border-radius: 50%;

	background: radial-gradient(
		circle,
		rgba(114, 9, 183, 0.25) 5%,
		rgba(12, 52, 163, 0.25) 60%
	);
	filter: blur(100px);
}

.particle-texts {
	position: absolute;
	top: var(--bodyPaddingTop);
	padding: 5% 5% 0;
	height: 90%;

	display: flex;
	flex-direction: column;

	box-shadow: 0px 15px 15px #000;
}

.particle-texts h1 {
	font-family: 'Fira Code', monospace;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
}

.particle-texts p {
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 1);

	width: 50%;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;

	padding-top: 5vh;
}

.green-highlight {
	color: var(--color-highlight-green);
}

.yellow-highlight {
	color: var(--color-highlight-yellow);
}

.code-icon {
	position: absolute;
	top: 30vh;
	right: 5%;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.code-icon code {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 150px;

	background: linear-gradient(
		110deg,
		rgba(255, 255, 255, 0.5) 45%,
		#fff 50%,
		rgba(255, 255, 255, 0.5) 55%
	);
	background-size: 200% auto;

	color: #000;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: brilho 5s linear infinite;
}

@keyframes brilho {
	to {
		background-position: 200% center;
	}
}
