.section-inicio {
	width: 100%;
	height: 100vh;

	background: #000;
	color: white;
	font-family: Roboto;
}

.section-inicio .bloom {
	width: 100%;
	height: 90%;
	border-radius: 50%;

	background: radial-gradient(
		circle,
		rgba(114, 9, 183, 0.25) 5%,
		rgba(12, 52, 163, 0.25) 60%
	);
	filter: blur(100px);
}

.section-inicio .particles-back,
.section-inicio .particles-mid,
.section-inicio .particles-front {
	display: block;

	position: absolute;
	top: var(--bodyPaddingTop);
	left: 0;
	right: 0;
}

.section-inicio .particles-back {
	filter: blur(3px);
}

.section-inicio .particles-mid {
	filter: blur(1px);
}

.section-inicio .particle-texts {
	position: absolute;
	top: var(--bodyPaddingTop);
	padding: 5% 5% 0;

	width: 100%;
	height: 90%;

	display: flex;
	flex-direction: column;

	box-shadow: 0px 15px 15px #000;
}

.section-inicio .particle-texts h1 {
	font-family: 'Fira Code', monospace;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
	font-style: normal;
	font-weight: bold;
	font-size: 5.6rem;
	line-height: 4.6rem;
}

.section-inicio .particle-texts .text-center {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.section-inicio .particle-texts .text-center p {
	text-shadow: 0px 4px 5px rgba(0, 0, 0, 1);

	width: 60%;
	height: 100%;
	font-weight: 500;
	font-size: 3.6rem;
	line-height: 3.6rem;

	padding-top: 5vh;
}

.section-inicio .green-highlight {
	color: var(--color-highlight-green);
}

.section-inicio .yellow-highlight {
	color: var(--color-highlight-yellow);
}

.section-inicio .code-icon {
	height: 50%;

	display: flex;
	justify-content: center;

	clear: both;
}

.section-inicio .code-icon code {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15.6rem;
	line-height: 14.6rem;

	background: linear-gradient(
		110deg,
		rgba(255, 255, 255, 0.5) 40%,
		#fff 50%,
		rgba(255, 255, 255, 0.5) 60%
	);
	background-size: 200% auto;

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: brilho 5s linear infinite;
}

@keyframes brilho {
	to {
		background-position: 200% center;
	}
}

/* MOBILE */

@media (max-width: 500px) and (max-height: 1000px) and (orientation: portrait) {
	.section-inicio {
		height: 100vh;
	}

	.section-inicio .particles-back,
	.section-inicio .particles-mid {
		display: none;
	}

	.section-inicio .particle-texts h1 {
		font-size: 3.6rem;
		text-align: center;
	}

	.section-inicio .particle-texts .text-center {
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-around;
	}

	.section-inicio .particle-texts .text-center p {
		font-size: 2.6rem;
		line-height: 2.6rem;

		padding-top: 3vh;

		width: 100%;
		height: auto;
	}

	.section-inicio .code-icon {
		width: 100%;

		align-items: center;
	}

	.section-inicio .code-icon code {
		font-size: 13.6rem;
		color: rgba(255, 255, 255, 0.5);

		background: none;
		animation: none;
		background-clip: text;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
	}
}

@media (max-width: 1200px) and (max-height: 800px) and (orientation: landscape) {
	.section-inicio .particles-back,
	.section-inicio .particles-mid {
		display: none;
	}

	.section-inicio .particle-texts {
		padding-top: 1%;
	}

	.section-inicio .particle-texts h1 {
		font-size: 3.6rem;
		line-height: 5.6rem;
	}

	.section-inicio .particle-texts .text-center {
		align-items: flex-start;
	}

	.section-inicio .particle-texts .text-center p {
		font-size: 2rem;
		line-height: 2rem;

		padding-top: 3vh;

		width: 100%;
		height: auto;
	}

	.section-inicio .code-icon code {
		font-size: 12.6rem;
		color: rgba(255, 255, 255, 0.5);

		background: none;
		animation: none;
		background-clip: text;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: unset;
	}
}

/* APARELHOS MENORES */

@media (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {
	.section-inicio .particle-texts h1 {
		font-size: 2.6rem;
		line-height: 3.6rem;
	}

	.section-inicio .particle-texts .text-center p {
		font-size: 2rem;
		line-height: 2rem;
	}

	.section-inicio .code-icon code {
		font-size: 10.6rem;
	}
}
