.section-aulas {
  width: 100%;
  height: 90vh;

  background: var(--color-grayDarken);

  display: flex;
  flex-direction: column;

  padding: 1% 5% 0;

  font-family: Roboto;
}

.section-aulas h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 112px;

  align-self: center;

  color: var(--color-logo);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.section-aulas p {
  color: var(--color-secondary);

  font-size: 24px;
  line-height: 30px;
}

.section-aulas .content-frontend,
.section-aulas .content-backend,
.section-aulas .content-extra {
  width: 100%;
  height: 100%;

  padding-bottom: 15vh;

  display: flex;
  justify-content: space-between;
}

.section-aulas .content-frontend,
.section-aulas .content-extra {
  align-items: flex-start;
  flex-direction: row;
}

.section-aulas .content-backend {
  align-items: flex-start;
  flex-direction: row-reverse;
}

.section-aulas .texts {
  width: 50%;
  height: 100%;
}

.section-aulas h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 100px;

  color: var(--color-blueDarken);
}

.section-aulas .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 25%;
  height: 90%;
}

.section-aulas .content-frontend .images img,
.section-aulas .content-backend .images img,
.section-aulas .content-extra .images img {
  width: 45%;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.section-aulas .content-frontend .images-right img:nth-child(1),
.section-aulas .content-extra .images-right img:nth-child(1) {
  align-self: flex-start;
}

.section-aulas .content-frontend .images-right img:nth-child(2),
.section-aulas .content-extra .images-right img:nth-child(2) {
  align-self: flex-end;
}

.section-aulas .content-frontend .images-right img:nth-child(3),
.section-aulas .content-extra .images-right img:nth-child(3) {
  align-self: flex-start;
}

.section-aulas .content-backend .images-left img:nth-child(1) {
  align-self: flex-end;
}

.section-aulas .content-backend .images-left img:nth-child(2) {
  align-self: flex-start;
}

.section-aulas .content-backend .images-left img:nth-child(3) {
  align-self: flex-end;
}
