.section-aulas {
	width: 100%;
	height: 100%;

	background: var(--color-grayDarken);

	display: flex;
	flex-direction: column;

	padding: 3% 5% 0;

	font-family: Roboto;
}

.section-aulas h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 7.6rem;
	line-height: 6.6rem;

	align-self: center;

	color: var(--color-logo);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.section-aulas p {
	color: var(--color-secondary);

	font-size: 2.6rem;
	line-height: 2.6rem;
}

.section-aulas .content-frontend,
.section-aulas .content-backend,
.section-aulas .content-extra {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.section-aulas .content-frontend,
.section-aulas .content-backend {
	height: 85vh;
}

.section-aulas .content-frontend,
.section-aulas .content-extra {
	align-items: flex-start;
	flex-direction: row;

	background: url('../../assets/images/backgrounds/background-classes.svg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-aulas .content-extra {
	background-position: 100% 25%;

	padding-top: 4.5vh;
	padding-bottom: 4.5vh;
}

.section-aulas .content-backend {
	align-items: flex-start;
	flex-direction: row-reverse;

	background: url('../../assets/images/backgrounds/background-classes-inverted.svg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-aulas .texts {
	width: 50%;
	height: 100%;
}

.section-aulas .texts h4 {
	font-weight: bold;
	font-size: 4.6rem;
	line-height: 13.6rem;

	color: var(--color-blueDarken);
}

.section-aulas .images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 25%;
	height: 90%;
}

.section-aulas .content-frontend .images img,
.section-aulas .content-backend .images img,
.section-aulas .content-extra .images img {
	width: 45%;

	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

	animation: breath 10s infinite ease-in-out;
}

@keyframes breath {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.section-aulas .content-frontend .images-right img:nth-child(1),
.section-aulas .content-extra .images-right img:nth-child(1) {
	align-self: flex-start;
}

.section-aulas .content-frontend .images-right img:nth-child(2),
.section-aulas .content-extra .images-right img:nth-child(2) {
	align-self: flex-end;

	animation-delay: 1s;
}

.section-aulas .content-frontend .images-right img:nth-child(3),
.section-aulas .content-extra .images-right img:nth-child(3) {
	align-self: flex-start;

	animation-delay: 2s;
}

.section-aulas .content-backend .images-left img:nth-child(1) {
	align-self: flex-end;
}

.section-aulas .content-backend .images-left img:nth-child(2) {
	align-self: flex-start;

	animation-delay: 1s;
}

.section-aulas .content-backend .images-left img:nth-child(3) {
	align-self: flex-end;

	animation-delay: 2s;
}

/* MOBILE */

@media (max-width: 500px) and (max-height: 1000px) and (orientation: portrait) {
	.section-aulas h3 {
		font-size: 4.6rem;
	}

	.section-aulas .content-frontend,
	.section-aulas .content-backend,
	.section-aulas .content-extra {
		flex-direction: column;

		background: none;
	}

	.section-aulas .texts {
		width: 100%;
	}

	.section-aulas .texts h4 {
		font-size: 3.6rem;
		line-height: 7.6rem;
	}

	.section-aulas .images {
		flex-direction: row;

		width: 100%;
		height: 100%;
	}

	.section-aulas .content-frontend,
	.section-aulas .content-backend,
	.section-aulas .content-extra {
		height: 80vh;
	}

	.section-aulas .content-frontend .images img,
	.section-aulas .content-backend .images img,
	.section-aulas .content-extra .images img {
		width: 25%;

		margin: 0 0.5rem;
	}

	.section-aulas .content-frontend .images-right img,
	.section-aulas .content-frontend .images-left img,
	.section-aulas .content-backend .images-right img,
	.section-aulas .content-backend .images-left img,
	.section-aulas .content-extra .images-right img,
	.section-aulas .content-extra .images-left img {
		align-self: center !important;

		animation: none;
	}
}

@media (max-width: 1200px) and (max-height: 800px) and (orientation: landscape) {
	.section-aulas h3 {
		font-size: 4.6rem;
	}

	.section-aulas .texts h4 {
		font-size: 3.6rem;
		line-height: 7.6rem;
	}

	.section-aulas p {
		font-size: 2rem;
		line-height: 2rem;
	}

	.section-aulas .content-frontend,
	.section-aulas .content-backend,
	.section-aulas .content-extra {
		background: none;
	}

	.section-aulas .content-frontend .images-right img,
	.section-aulas .content-frontend .images-left img,
	.section-aulas .content-backend .images-right img,
	.section-aulas .content-backend .images-left img,
	.section-aulas .content-extra .images-right img,
	.section-aulas .content-extra .images-left img {
		animation: none;
	}
}

/* APARELHOS MENORES */

@media (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {
	.section-aulas h3 {
		font-size: 3.6rem;
	}

	.section-aulas .texts h4 {
		font-size: 2.6rem;
		line-height: 6.6rem;
	}

	.section-aulas p {
		font-size: 2rem;
		line-height: 2rem;
	}
}
