.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  pointer-events: none;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2em;

  background: var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  text-align: center;
}

.modal button {
  border: none;
  border-radius: 50%;

  line-height: 0;
  color: var(--color-secondary);

  background: var(--color-red);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  padding: 5px;

  transition: all .2s;
}

.modal .close-modal {
  position: absolute;
  right: -20px;
  top: -20px;

  cursor: pointer;
}

.modal .close-modal:hover {
  color: var(--color-white);

  background: var(--color-redDarken);
}

.modal .modal-success,
.modal .modal-failure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal img {
  width: 100px;
  height: 100px;

  margin-bottom: 1em;
}

.modal h6 {
  align-self: center;
  border-bottom: 2px solid currentColor;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-bottom: 20px;
}
