header {
	position: fixed;
	width: 100%;
	height: 10vh;
	left: 0px;
	top: 0px;
	z-index: 100;

	padding: 0 5%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;

	background: #000000;
	border-bottom: 2px solid #7209b7;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
}

header .logo {
	position: relative;
	font-family: 'Electrolize', sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
}

header .logo b {
	color: #bf60ff;
}

header .logo img {
	position: absolute;
	top: 2px;
	width: 30px;

	transform: rotate(5deg);
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	list-style: none;

	font-family: 'Roboto', sans-serif;
}

header nav ul li {
	letter-spacing: 2px;

	padding: 10px;
}

header nav ul li a {
	position: relative;

	text-decoration: none;

	color: white;

	padding-bottom: 10px;
}

header nav ul li a:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 4px;
	background: #7209b7;
	transition: all 100ms;
	opacity: 0;
	border-radius: 5px;
}

header nav ul li a:hover:after {
	transform: translateX(-50%) scaleX(1);
	opacity: 1;
}
