header {
	position: fixed;
	width: 100%;
	height: 10vh;
	left: 0px;
	top: 0px;
	z-index: 150;

	padding: 0 5%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--color-white);

	background: var(--color-black);
	border-bottom: 2px solid var(--color-primary);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
}

header .logo {
	position: relative;
	font-family: 'Electrolize', sans-serif;
	font-size: 2.6rem;
	font-weight: 500;
	font-style: italic;

	cursor: pointer;
}

header .logo b {
	color: var(--color-logo);
}

header .logo img {
	position: absolute;
	top: 2px;
	width: 30px;

	transform: rotate(5deg);
}

header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;

	font-family: 'Roboto', sans-serif;
}

header nav ul li {
	letter-spacing: 2px;

	margin-left: 10px;
}

header nav ul li:not(:last-child) {
	margin-right: 10px;
}

header nav ul li a {
	position: relative;

	text-decoration: none;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.6rem;
}

header nav ul li a:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 4px;
	background: var(--color-purpleDarken);
	transition: all 100ms;
	opacity: 0;
	border-radius: 5px;
}

header nav ul li a:hover:after {
	transform: translateX(-50%) scaleX(1);
	opacity: 1;
}

header nav ul li > .active:after {
	transform: translateX(-50%) scaleX(1);
	opacity: 1;

	background: var(--color-primary);
}

header .MuiSvgIcon-root {
	font-size: 1.6em;
}

header nav ul li a .MuiSvgIcon-root {
	margin-right: 3px;
}

header .menu-icon {
	display: none;

	padding: 1rem;
	border-radius: 50%;

	transition: background-color .3s;
}

header .menu-icon:hover {
	background: var(--color-grayDarken);
}

@media (max-width: 700px) {
	header nav, header .github-icon {
		display: none;
	}

	header .menu-icon {
		display: flex;
		align-items: center;

		cursor: pointer;
	}
}
