.section-sobre {
	width: 100%;
  height: calc(90vh + 10px);
  
  background: var(--color-black);
}

.section-sobre .wave-particles {
  width: 100%;
  height: 100%;

	background: url('../../assets/images/wave-particles.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
  background-attachment: fixed;
}

.section-sobre .wave-particles .content-sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;

  padding: 5% 5% 0;

  width: 100%;
  height: 100%;
}

.section-sobre .wave-particles h2 {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 2px;

  color: var(--color-white);
  text-shadow: -6px 0px var(--color-primary);
}

.section-sobre .wave-particles .text-sobre {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;

  color: var(--color-secondary);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.section-sobre .wave-particles .subscriptions {
  font-size: 24px;
  font-weight: 300;
  color: var(--color-secondary);

  background: var(--color-purpleDarken);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

  padding: .5em;
}

.section-sobre .wave-particles .subscriptions b {
  text-shadow: 0px 0px 10px var(--color-primary);
  text-decoration: 2px underline currentColor;
}
