.section-sobre {
	width: 100%;
	height: calc(90vh + 10px);

	background: var(--color-black);
}

.section-sobre .wave-particles {
	width: 100%;
	height: 100%;

	background: url('../../assets/images/backgrounds/wave-particles.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

.section-sobre .wave-particles .content-sobre {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	text-align: center;

	padding: 5% 5% 0;

	width: 100%;
	height: 100%;
}

.section-sobre .wave-particles h2 {
	font-size: 7.6rem;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 4.6rem;

	color: var(--color-white);
	text-shadow: 0px 1px 1px var(--color-primary),
		0px 2px 1px var(--color-primary), 0px 3px 2px var(--color-primary),
		0px 4px 2px var(--color-purpleDarken), 0px 5px 1px var(--color-purpleDarken),
		1px 10px 6px rgba(0, 0, 0, 0.4), 1px 14px 10px rgba(0, 0, 0, 0.2),
		1px 17px 35px rgba(0, 0, 0, 0.2), 1px 22px 60px rgba(0, 0, 0, 0.4);
}

.section-sobre .wave-particles .text-sobre {
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 3.6rem;

	color: var(--color-secondary);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.section-sobre .wave-particles .subscriptions {
	font-size: 2.6rem;
	font-weight: 300;
	color: var(--color-secondary);

	background: var(--color-purpleDarken);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

	padding: 0.5em;
}

.section-sobre .wave-particles .subscriptions b {
	text-shadow: 0px 0px 10px var(--color-primary);
	text-decoration: 2px underline currentColor;
}

/* MOBILE */

@media (max-width: 500px) and (max-height: 1000px) and (orientation: portrait) {
	.section-sobre .wave-particles {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.section-sobre .wave-particles h2 {
		font-size: 4.6rem;
	}

	.section-sobre .wave-particles .text-sobre {
		font-size: 2.6rem;
		line-height: 2.6rem;
	}

	.section-sobre .wave-particles .content-sobre {
		justify-content: space-around;
	}
}

@media (max-width: 1200px) and (max-height: 800px) and (orientation: landscape) {
	.section-sobre .wave-particles {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.section-sobre .wave-particles h2 {
		font-size: 4.6rem;
	}

	.section-sobre .wave-particles .text-sobre {
		font-size: 2rem;
		line-height: 2rem;
	}

	.section-sobre .wave-particles .content-sobre {
		justify-content: space-around;
	}

	.section-sobre .wave-particles .content-sobre {
		padding-top: 1%;
	}

	.section-sobre .wave-particles .subscriptions {
		font-size: 2rem;
	}
}

/* APARELHOS MENORES */

@media (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {
	.section-sobre .wave-particles h2 {
		font-size: 3.6rem;
		line-height: 3.6rem;
	}

	.section-sobre .wave-particles .text-sobre {
		font-size: 2rem;
		line-height: 2rem;
	}

	.section-sobre .wave-particles .subscriptions {
		font-size: 2rem;
	}
}
