.section-sobre {
	width: 100%;
  height: calc(90vh + 10px);
  
  background: var(--color-black);
}

.section-sobre .wave-particles {
  width: 100%;
  height: 100%;

	background: url('../../assets/images/wave-particles.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
  background-attachment: fixed;
}

.section-sobre .wave-particles .content-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  padding: 5% 5% 0;

  width: 100%;
  height: 100%;
}

.section-sobre .wave-particles h2 {
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 2px;

  color: var(--color-white);
  text-shadow: -6px 0px var(--color-primary);
}

.section-sobre .wave-particles p {
  font-size: 36px;
  line-height: 42px;

  color: var(--color-secondary);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
