.section-comunidade {
	width: 100%;
	height: 90vh;

	background: var(--color-grayDarken);

	display: flex;
	flex-direction: column;

	padding: 3% 5% 0;
	margin-bottom: 15px;

	font-family: Roboto;

	background: url('../../assets/images/backgrounds/background-community.svg');

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-comunidade h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 7.6rem;
	line-height: 6.6rem;

	align-self: center;

	color: var(--color-logo);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

.section-comunidade p {
	color: var(--color-secondary);

	font-size: 2.6rem;
	line-height: 2.6rem;
}

.section-comunidade .content-comunidade {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;

	align-items: flex-start;
	flex-direction: row;
}

.section-comunidade .texts {
	width: 50%;
	height: 80%;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section-comunidade h4 {
	font-weight: bold;
	font-size: 4.6rem;
	line-height: 13.6rem;

	color: var(--color-blueDarken);
}

.section-comunidade .images {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 50%;
	height: 100%;
}

.section-comunidade .content-comunidade .images img {
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

	animation: breath 10s infinite ease-in-out;
}

@keyframes breath {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
	}
	100% {
		transform: scale(1);
	}
}

/* MOBILE */

@media (max-width: 800px) and (max-height: 1366px) {
	.section-comunidade {
		background: none;
	}

	.section-comunidade h3 {
		font-size: 4.6rem;
	}

	.section-comunidade .texts {
		width: 100%;
	}

	.section-comunidade .texts h4 {
		font-size: 3.6rem;
		line-height: 7.6rem;
	}

	.section-comunidade .content-comunidade .images {
		width: 100%;
	}

	.section-comunidade .content-comunidade .images img {
		width: 50%;

		animation: none;
	}

	.section-comunidade .content-comunidade {
		flex-direction: column-reverse;
	}
}

@media (max-width: 1024px) and (max-height: 800px) {
	.section-comunidade {
		background: none;

		padding-top: 0;
	}

	.section-comunidade h3 {
		font-size: 3.6rem;
		line-height: 5.6rem;

		margin-bottom: 1.6rem;
	}

	.section-comunidade .texts {
		width: 100%;
	}

	.section-comunidade .texts h4 {
		font-size: 2.6rem;
		line-height: 4.6rem;
	}

	.section-comunidade .content-comunidade .images {
		width: 100%;
	}

	.section-comunidade .content-comunidade .images img {
		width: 50%;

		animation: none;
	}

	.section-comunidade p {
		font-size: 2rem;
		line-height: 2rem;
	}
}

/* APARELHOS MENORES */

@media (max-width: 325px) and (max-height: 700px) and (orientation: portrait) {
	.section-comunidade h3 {
		font-size: 3.6rem;
	}

	.section-comunidade .texts h4 {
		font-size: 2.6rem;
		line-height: 6.6rem;
	}

	.section-comunidade p {
		font-size: 2rem;
		line-height: 2rem;
	}
}
