@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Fira+Code:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--color-black: #000;
	--color-blue: #3F84E5;
	--color-blueDarken: #4361EE;
	--color-gray: #969A97;
	--color-grayDarken: #1a1b1a;
	--color-highlight-green: #40ff53;
	--color-highlight-yellow: #ffef62;
	--color-primary: #7209b7;
	--color-secondary: #f0f0f7;
	--color-purpleDarken: #3a0ca3;
	--color-logo: #bf60ff;
	
	font-size: 60%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100vh;

	cursor: default;
}

body {
	background: var(--color-grayDarken);
	--bodyPaddingTop: 10vh;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--bodyPaddingTop));
}

body,
input,
button,
textarea {
	font: 500 1.6rem Roboto;
}

.container {
	width: 100%;
	max-width: 100vw;
}

@media (min-width: 700px) {
	:root {
		font-size: 62.5%;
	}
}

main {
	width: 100%;
	height: 100vh;
	max-width: 100%;
}
