.scroll-down {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
  justify-content: flex-end;
	flex-direction: column;
	
	color: var(--color-gray);
	transition: color .3s;
}

.scroll-down .arrow-content {
	display: flex;
	align-items: center;
  justify-content: flex-end;
	flex-direction: column;

	cursor: pointer;
}

.scroll-down .arrow-content span {
	font-weight: 300;
	text-align: center;

  position: absolute;
	margin-bottom: 75px;
	transition: color .3s;
}

.scroll-down .arrow-content .arrow-down {
	font-size: 94px;

	animation: pulse 2s infinite;
	transition: color .3s;
}

.scroll-down .arrow-content:hover span {
	color: var(--color-secondary);
}

.scroll-down .arrow-content:hover .arrow-down {
	color: #944dd3;
}

@keyframes pulse {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	50% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}
